{% extends 'base.html' %}

{% block content %}

    <form action = "" method = "POST" novalidate>
        
        {{form.hidden_tag()}}
        <p> {{form.content.label}} {{form.content(rows=4,cols = 50)}} <br> </p>
        <p> {{form.submit()}} <br> </p>
        
       {% for post in posts.items %}

            <div>
            
                <p>
                    {{ post.author.username }}
                </p>
            
                <p>
                    {{ post.body }}
                </p>
            
            </div>

            <hr>

        {% endfor %}
        
        <a href="{{next_url}}">Newer Posts</a>
        <a href="{{prev_url}}">Older Posts</a>
   


    </form>


{% endblock %}