{% extends 'base.html' %}

{% block content %}
    <img src="{{user.avatar(128)}}" alt="">
    <h1> User: {{user.username}}</h1>
    <p> Email: {{user.email}}</p>

     {% if user.about_me %}
    <p> {{user.about_me}}</p>
    {% endif %}
    <p> Last seem : {{current_user.last_seen}}</p>
    {% if user!= current_user %}
        {% if current_user.is_following(user) %}

            <a href="{{url_for('unfollow', username = user.username)}}">  Unfollow </a>

        {% else %}

            <a href="{{url_for('follow', username = user.username)}}">  Follow </a>

        {% endif %}

    {% endif %}

    <p> Followers: {{user.followers|length}}</p>
    <p> Following: {{user.following|length}}</p>
    <hr>


    <p> Latest Posts: </p> <br>
    {% for post in posts.items %}

        <div>
             <a href="{{url_for('profile', username = user.username)}}">{{ user.username }}</a>
            <p> <a href="{{url_for('post', id = post.id)}}">{{post.body}}</a> </p>
            <hr>


        </div>
  
    {% endfor %}
        {% if prev_url %}
        <a href="{{prev_url}}">Newer Posts</a>  
        {% endif %}
        {% if next_url %}   
        <a href="{{next_url}}">Older Posts</a>
        {% endif %}
   

{% endblock %}