{% extends 'base.html' %}

{% block content %}
    <img src="{{user.avatar(128)}}" alt="">
    <h1> User: {{user.username}}</h1>
    <p> Email: {{user.email}}</p>

     {% if user.about_me %}
    <p> {{user.about_me}}</p>
    {% endif %}
    <p> Last seem : {{current_user.last_seen}}</p>
    <hr>


    <p> Latest Posts: </p> <br>
    {% for post in user.posts %}

        <div>
            <p> {{user.username}}</p>
            <p> {{post}} </p>
            <hr>


        </div>

    {% endfor %}
   

{% endblock %}